/*.egg-info/
/dist/
/.cache/
/static/*
/media/*
__pycache__/*
*.mo
*.pyc
*.coverage
*.sqlite3
.sass-cache
*.sass.css
/.idea/
*.DS_STORE
/htmlcov
.pytest_cache/
node_modules
*.js
*.js.map
*.css
*.css.map
esdata/